<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPCU9y9o05EyzgFWC90UufY3zLvZL55Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>30581694470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.volunteersApp</string>
	<key>PROJECT_ID</key>
	<string>volunteer-bc0bb</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteer-bc0bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30581694470:ios:ab3a0be0abeab264952387</string>
</dict>
</plist>